/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 7 mars 2024, 10:31:10
    Author     : yedid
*/
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
